@model Workout

@{
    ViewData["Title"] = "Build Workout";
}

@*if workout hasn't been built yet, display build form*@
@if (@Model == null)
{

    <div class="text-center">
        <h1 class="display-4">Build a Workout</h1>
        <hr />
    </div>

    <!-- FORM -->
    <div class="container">
        <div class="form-container card-outer">
            <div class="card-inner">
                <form method="post">
                    <div class="form-group form-card">

                        <div class="effort">
                            <div class="row p-3">
                                <strong>Effort Level:</strong>
                            </div>
                            <div class="ml-1">
                                <label for="effort" asp-for="Effort">
                                    <input type="radio" value="easy" id="effort" class="input-control" asp-for="Effort" />
                                    Easy
                                </label>
                                <br />
                                <label for="effort" asp-for="Effort">
                                    <input type="radio" value="medium" id="effort" class="input-control" asp-for="Effort">
                                    Medium
                                </label>
                                <br />
                                <label for="effort" asp-for="Effort">
                                    <input type="radio" value="challenging" id="effort" class="input-control" asp-for="Effort">
                                    Challenging
                                </label>
                            </div>
                        </div>

                        <br />

                        <div class="row p-3">
                            <label for="userName" asp-for="UserName"><strong>Your Name:</strong></label>
                            <input id="userName" class="form-control" asp-for="UserName" />
                        </div>

                        <div class="row p-3">
                            <label for="workoutName" asp-for="Name"><strong>Workout Name:</strong></label>
                            <input id="workoutName" class="form-control" asp-for="Name" />
                        </div>

                        <div class="row text-center">
                            <button type="submit" class="btn btn-lg btn-success mx-auto px-5 form-button">Build Workout</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END FORM -->

}
else
{
    <div class="text-center">
        <h1 class="display-4">Your New Workout: @Model.Name</h1>
        <h4>Level: @Model.Effort.ToUpper()</h4>
        <br />
        <hr />
    </div>

    <div class="form-container">
        <div class="card-outer">
            <div class="card-inner">

                @* display exercises *@
                <div class="container">
                    <div class="exercise p-2">
                        <strong>@Model.Exercise1.Name</strong><br />
                        Sets: @Model.Sets<br />
                        Reps: @Model.Reps<br />
                        <a asp-controller="Workout" asp-action="Help" asp-route-name="@Model.Exercise1.Name">Watch a demo</a>
                    </div>

                    <hr class="ex-break" />

                    <div class="exercise p-2">
                        <strong>@Model.Exercise2.Name</strong><br />
                        Sets: @Model.Sets<br />
                        Reps: @Model.Reps<br />
                        <a asp-controller="Workout" asp-action="Help" asp-route-name="@Model.Exercise2.Name">Watch a demo</a>
                    </div>

                    <hr class="ex-break" />

                    <div class="exercise p-2">
                        <strong>@Model.Exercise3.Name</strong><br />
                        Sets: @Model.Sets<br />
                        Reps: @Model.Reps<br />
                        <a asp-controller="Workout" asp-action="Help" asp-route-name="@Model.Exercise3.Name">Watch a demo</a>
                    </div>

                    <hr class="ex-break" />

                    <div class="exercise p-2">
                        <strong>@Model.Exercise4.Name</strong><br />
                        Sets: @Model.Sets<br />
                        Reps: @Model.Reps<br />
                        <a asp-controller="Workout" asp-action="Help" asp-route-name="@Model.Exercise4.Name">Watch a demo</a>
                    </div>

                    <hr class="ex-break" />

                    <div class="exercise p-2">
                        <strong>@Model.Exercise5.Name</strong><br />
                        Sets: @Model.Sets<br />
                        Reps: @Model.Reps<br />
                        <a asp-controller="Workout" asp-action="Help" asp-route-name="@Model.Exercise5.Name">Watch a demo</a>
                    </div>

                    <hr class="ex-break" />

                    <div class="exercise p-2">
                        <strong>@Model.Exercise6.Name</strong><br />
                        Sets: @Model.Sets<br />
                        Reps: @Model.Reps<br />
                        <a asp-controller="Workout" asp-action="Help" asp-route-name="@Model.Exercise6.Name">Watch a demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}