@model User

@{
    ViewData["Title"] = "Create Profile";
}

@if (@Model == null)
{
    <div class="text-center">
        <h1 class="display-4">Create a Profile</h1>
        <hr />
    </div>

    <!-- FORM -->
    <div class="container">
        <div class="form-container card-outer">
            <div class="card-inner">
                <form method="post">
                    <div class="form-group form-card">

                        <div class="row p-3">
                            <label for="name" asp-for="Name"><strong>Your Name:</strong></label>
                            <input id="name" class="form-control" asp-for="Name" />
                        </div>
                        <br />

                        <div class="row p-3">
                            <label for="age" asp-for="Age"><strong>Your Age:</strong></label>
                            <input id="age" class="form-control" asp-for="Age" />
                        </div>
                        <br />


                        <div class="row p-3">
                            <strong>Your Height:</strong>
                        </div>
                        <div class="row p-1">

                            <div class="col">
                                <label for="feet" asp-for="Feet"><strong>Feet:</strong></label>
                                <input id="feet" class="form-control" asp-for="Feet" />
                            </div>

                            <div class="col">
                                <label for="inches" asp-for="Inches"><strong>Inches:</strong></label>
                                <input id="inches" class="form-control" asp-for="Inches" />
                            </div>
                        </div>


                        <br />

                        <div class="row p-3">
                            <label for="weight" asp-for="Weight"><strong>Current Weight:</strong></label>
                            <input id="weight" class="form-control" asp-for="Weight" />
                        </div>
                        <br />

                        <div class="equipment">
                            <div class="row p-3">
                                <strong>Your Equipment Preference:</strong>
                            </div>
                            <div class="ml-4">
                                <label for="equipment" asp-for="EquipmentPref">
                                    <input type="radio" value="No Equipment" id="equipment" class="input-control" asp-for="EquipmentPref" />
                                    No Equipment
                                </label>
                                <br />
                                <label for="equipment" asp-for="EquipmentPref">
                                    <input type="radio" value="Dumbbells" id="equipment" class="input-control" asp-for="EquipmentPref">
                                    Dumbbells
                                </label>
                            </div>
                        </div>

                        <br />

                        <div class="row p-3">
                            <label for="goal" asp-for="FitnessGoal"><strong>Your Fitness Goal:</strong></label>
                            <textarea id="goal" class="form-control" asp-for="FitnessGoal"></textarea>
                        </div>


                        <br />

                        <div class="row text-center">
                            <button type="submit" class="btn btn-lg btn-success mx-auto px-5 form-button">Create Profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END FORM -->
}
else
{
    <div class="text-center">
        <h1 class="display-4">Your New Profile</h1>
        <hr />
    </div>

    <div class="container">
        <div class="card-outer">
            <div class="card-inner">
                <div class="profile-tina">
                    <img src="~/images/tina-t.gif" alt="tina" height="350" />
                </div>

                <div class="user-props">
                    <div class="row p-2">
                        <span><strong>Name:</strong><br />@Model.Name</span>
                    </div>

                    <div class="row p-2">
                        <span><strong>Age:</strong><br />@Model.Age</span>
                    </div>

                    <div class="row p-2">
                        <span><strong>Height:</strong><br />@Model.Feet' @Model.Inches"</span>
                    </div>

                    <div class="row p-2">
                        <span><strong>Current Weight:</strong><br />@Model.Weight</span>
                    </div>

                    <div class="row p-2">
                        <span><strong>Equipment Preference:</strong><br />@Model.EquipmentPref</span>
                    </div>

                    <div class="row p-2">
                        <span><strong>Fitness Goal:</strong><br />@Model.FitnessGoal</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
}