@model User

@{
    ViewData["Title"] = "Profile";
}


@*USER INPUT*@
@if (Model == null)
{
    <div class="text-center">
        <h1 class="display-4">View Your Profile</h1>
        <hr />
    </div>
    <br />
    <div class="container text-center">
        <form method="post" class="name-search">

            <div class="row p-3">
                <label for="name" asp-for="Name">Enter your name to find your profile:</label>
                <input id="name" class="form-control" asp-for="Name" />
            </div>

            <div class="row p-3">
                <button type="submit" class="btn btn-lg btn-success mx-auto px-5">Get My Profile</button>
            </div>

        </form>
    </div>
}
@*OUTPUT*@
else
{
    <div class="text-center">
        <h1 class="display-4">@Model.Name's Profile</h1>
        <hr />
    </div>

    <div class="container">
        <div class="card-outer">
            <div class="card-inner">
                <div class="profile-tina">
                    <img src="~/images/tina-t.gif" alt="tina" height="350" />
                </div>

                <div class="user-props">
                    <div class="row p-2">
                        <span><strong>Name:</strong><br />@Model.Name</span>
                    </div>

                    <div class="row p-2">
                        <span><strong>Age:</strong><br />@Model.Age</span>
                    </div>

                    <div class="row p-2">
                        <span><strong>Height:</strong><br />@Model.Feet' @Model.Inches"</span>
                    </div>

                    <div class="row p-2">
                        <span><strong>Current Weight:</strong><br />@Model.Weight</span>
                    </div>

                    <div class="row p-2">
                        <span><strong>Equipment Preference:</strong><br />@Model.EquipmentPref</span>
                    </div>

                    <div class="row p-2">
                        <span><strong>Fitness Goal:</strong><br />@Model.FitnessGoal</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
